.contentPosts{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.contentPostsTitle{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contentPostsPostNewText,
.contentPostsPostNewButton{
    display: block;
}

.contentPostsPostNewText{
    width: 100%;
    margin-bottom: 1rem;
}

.contentPostsPostNew{
    margin-bottom: 1rem;
}