.header {
    grid-area: header;
    background-color: #f1c4a6;
    display: flex;
    padding: .4rem;
    align-items: center;

}

.headerLogoImg{
    width: 2.5rem;
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}