*,
::before,
::after{
    box-sizing: border-box;
}

root{
    font-size: 1em;
}

.wrapper--main {
    max-width: 75rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 3.75rem 1fr;
    grid-template-columns: 2fr 10fr;
    gap: .6rem;
    grid-template-areas:
          'header header'
          'nav content'
}




