.dialogs {
    font-size: 1.5rem;
    padding: 1rem;
}

.dialogsTitle {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.dialogsContent {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.messages {
    display: flex;
    flex-direction: column;
   justify-content: space-between;

}

.newMessages{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.newMessagesText{
    width: 100%;
}

.newMessagesButton{
    align-self: flex-start;
}

